<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College Card</title>
    <link rel="stylesheet" href="{{url_for('static', filename='card.css')}}">
</head>
<body>
   <div class="container">
           <div class="navbar">
          <nav>
          <div class="logo">
           <a href="home.html" title="logo"></a>
            </div>
               <ul>
                <li><a href="home.html">Home</a></li>
                <li>
                    <a href="#">Find Colleges in</a>
                    <ul class="subMenu">
                        <li><a href="#">Mumbai</a></li>
                        <li><a href="#">Pune</a></li>
                        <li><a href="#">Bangalore</a></li>
                    </ul>
                </li>
                <li><a href="about.html"/>About Us</li>
                <li><a href="#">Login/Signup</a></li>
            </ul>
            </nav> 
        </div>
    <div class="card">
        <div class="photo">
            <img src="iitb.jpg">
        </div>
        <div class="details">
            <h3>IIT Bombay</h3>
            <div class="location">
                <p>Mumbai,Maharashtra</p>
            </div>
            <div class="info">
                <p>The Indian Institute of Technology Bombay (abbreviated IITB or IIT Bombay) is a public engineering institution located at Powai, Mumbai, India.</p>
                <a href="#"><b><mark>Click here to know more</mark></b></a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>