<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h5>Location</h5>
    <div class="location" style="padding: 10px;">
  <form method="post">
<input type="checkbox" name="hello" value="Mumbai" checked>Mumbai
<input type="checkbox" name="hello" value="Pune" checked>Pune
<input type="checkbox" name="hello" value="Navi mumbai" checked>Navi Mumbai
<input type="checkbox" name="hello" value="Nagpur" checked>Nagpur
<input type="submit" name="hell" value="Do Something">
</form>
    </div>
       <h5>OwnerShip</h5>
        <div class="location" style="padding: 10px;">
  <form method="post">
<input type="checkbox" name="hello" value="Government" checked>Government
<input type="checkbox" name="hello" value="Private" checked>Private
<input type="submit" name="hell" value="Do Something">
</form>
    </div>
       <h5>Approved by</h5>
        <div class="location" style="padding: 10px;">
  <form method="post">
<input type="checkbox" name="hello" value="AICTE" checked>AICTE
<input type="checkbox" name="hello" value="UGC" checked>UGC
      <input type="submit" name="hell" value="Do Something">
</form>
    </div>
       <h5>Exam accepted</h5>
    <div class="exam_accepted" style="padding: 10px;">
  <form method="post">
<input type="checkbox" name="hello" value="JEE" checked>JEE
<input type="checkbox" name="hello" value="GATE" checked>GATE
<input type="checkbox" name="hello" value="CET" checked>CET
      <input type="submit" name="hell" value="Do Something">
</form>
    </div>
<h5>Fees</h5>
    <div class="exam_accepted" style="padding: 10px;">
  <form method="post">
<input type="checkbox" name="hello" value="0" checked>0-1
<input type="checkbox" name="hello" value="1" checked>1-2
<input type="checkbox" name="hello" value="2" checked>2-3
<input type="checkbox" name="hello" value="3" checked>3-4
<input type="checkbox" name="hello" value="4" checked>4-5
<input type="checkbox" name="hello" value="5" checked>5-6
<input type="checkbox" name="hello" value="6" checked>6-7
<input type="checkbox" name="hello" value="7" checked>7-8
<input type="checkbox" name="hello" value="8" checked>8-9
<input type="checkbox" name="hello" value="9" checked>9-10
<input type="checkbox" name="hello" value="10" checked>10-11
<input type="checkbox" name="hello" value="11" checked>11 and above
      <input type="submit" name="hell" value="Do Something">
</form>
       <h5>Courses</h5>
    <div class="exam_accepted" style="padding: 10px;">
  <form method="post">
<input type="checkbox" name="hello" value="automobile" checked>automobile
<input type="checkbox" name="hello" value="computer" checked>computer
<input type="checkbox" name="hello" value="information" checked>Information technology
<input type="checkbox" name="hello" value="electronics" checked>Electronics
<input type="checkbox" name="hello" value="telecommunication" checked>Extc
<input type="checkbox" name="hello" value="mechanical" checked>Mechanical
<input type="checkbox" name="hello" value="aerospace" checked>Aerosapce
<input type="checkbox" name="hello" value="civil" checked>Civil
      <input type="submit" name="hell" value="Do Something">
</form>
         <input type="submit" name="hell" value="Do Something Else">

    </div>
    {{ a|safe }}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>