<!doctype html>
<style>
</style>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Other Colleges</title>
  </head>
  <body>
    <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">PCE EDU-ASSIST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Find Colleges in
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/showmumbai">Mumbai</a>
          <a class="dropdown-item" href="/shownavimumbai">Navi Mumbai</a>
          <a class="dropdown-item" href="/showothers">Others</a>
        </div>
      </li>
    <li class="nav-item active">
    <a class="nav-link" href="/about">About Us</a>
    </li>
                <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
   
  </div>
</nav>
<div class="row">
 {%for x in l%}
 <div class ="col-md-4">
  <div class="card">
    <img class="card-img-top-col-md-12" src="static/imgs/showother{{x[0]}}.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{x[1]}}</h5>
      <h5 class="card-text">{{x[2]}}</h5>
      <h5 class="card-text"><small class="text-muted">{{x[11]}}</small></h5>
      <a href="/{{35+x[0]-1}}" class="btn btn-primary">Know more</a>
    </div>
  </div>
</div>
  {%endfor%}
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>