body{
    margin: 0;
    padding: 0;
    background: red;
}
.container {
    opacity:
    width: 1600px;
    height: 70px;
    background-color: #0f1c2f;
}
.logo{
    display: block;
    background: url(logo.png);
    width: 200px;
    height: 55px;
    float: left;
    margin: 5px;
}
.navbar ul{
    text-align: center;
    margin: 0 auto;
    font-family:sans-serif;
    font-weight:lighter;   
}
.navbar ul li{
    float: right;
    line-height: 60px;
    background-color: #0f1c2f;
    list-style-type: none;
    /*display: inline-block*/
    padding:5px 20px; /*top bottom 5 left right 25*/
    position: relative;
    width: 120px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li:hover{
    background-color: #ff5063;
}
ul .subMenu{
    position:relative;
    width: 140px;
    padding-left: 0px;
    display: none;
    z-index: 100;
}
.navbar li:hover .subMenu{
    display: block;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card .photo{
    position: relative;
    overflow: hidden;
}
.card .photo:before{
    content: '';
    position: absolute;
    bottom: -130px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0f1c2f 60%,transparent);
    transition: 0.5s;
    z-index: 1;
}
.card .photo img{
    width: 100%;
}
.details{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -130px; /*for displaying only name and location 1st*/
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}
.details h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: #EFEFEF;
}
.details p{
    margin: 5px;
    text-align: center;
    font-size: 15px;
    color: #EFEFEF;
}
.location{
    position: relative;
    margin-top: 5px;
}
.details .info{
    text-align: center;
}
a{
    color: #ff5063; 
}
.card:hover .details{
    bottom: 0;
}
.card:hover .photo:before{
    bottom: 0;
}
mark {
    background-color: #ff5063;
    color: white;
}