body{
    margin: 0 auto;
}
.container {
    opacity:
    width: 1600px;
    height: 70px;
    background-color: #0f1c2f;
}
.logo{
    display: block;
    background: url(logo.png);
    width: 200px;
    height: 55px;
    float: left;
    margin: 5px;
}
.navbar ul{
    text-align: center;
    margin: 0 auto;
    font-family:sans-serif;
    font-weight:lighter;   
}
.navbar ul li{
    float: right;
    line-height: 60px;
    background-color: #0f1c2f;
    list-style-type: none;
    /*display: inline-block*/
    padding:5px 20px; /*top bottom 5 left right 25*/
    position: relative;
    width: 120px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li:hover{
    background-color: #ff5063;
}
ul .subMenu{
    position:relative;
    width: 140px;
    padding-left: 0px;
    display: none;
    z-index: 100;
}
.navbar li:hover .subMenu{
    display: block;
}